.header-area {
  height: 60px;
  background-color: black;
  color: white;
  padding: 0;
  margin: 0 !important;
}

.header-sec {
  padding-top: 15px;
  width: 85%;
  margin: 0px auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-nav-link,
.header-nav-link:hover {
  text-decoration: none;
  color: white;
}

.header-auth {
  display: flex;
  align-items: center;
  gap: 10px;
}

.header-auth-btn {
  background-color: white;
}
/* media queries  */

/* Extra extra large	xxl	≥1400px */
@media (min-width: 1400px) {
}

/* Extra large	xl	≥1200px */
@media (min-width: 1200px) and (max-width: 1399px) {
}

/* Large	lg	≥992px */
@media (min-width: 992px) and (max-width: 1199px) {
}

/* Medium	md	≥768px */
@media (min-width: 768px) and (max-width: 991px) {
}

/* Small	sm	≥576px */
@media (min-width: 576px) and (max-width: 767px) {
}

/* X-Small	None	<576px */
@media (min-width: 0px) and (max-width: 575px) {
}
